{% extends "base.html" %}
{% block content %}
<h1>削除</h1>
<p>以下のメモを削除しますか？</p>
<form method="POST">
    <table class="table table-striped-columns">
        <tr>
            <th>タイトル</th>
            <th>メモ</th>
        </tr>
        <tr>
            <td>
                <input type="text" class="form-control" name="title" value="{{ post.title }}" disabled>
            </td>
            <td>
                <!-- <input type="text" class="form-control" name="body" value="{{ post.body }}" disabled> -->
                <textarea class="form-control" id="body" name="body" rows="10" disabled>{{post.body}}</textarea>
            </td>
        </tr>
    </table>
    <input type="submit" value="削除" class="btn btn-danger">
</form>
<a href="{{ url_for('top') }}" role="button" class="btn btn-secondary">一覧に戻る</a>
{% endblock %}