{% extends "base.html" %}
{% block content %}
<h1>編集</h1>
<form method="POST">
    <table class="table table-striped-columns">
        <tr>
            <th>タイトル</th>
            <th>メモ</th>
            <th>カテゴリ</th>
        </tr>
        <tr>
            <td>
                <input type="text" class="form-control" name="title" value="{{ post.title }}">
            </td>
            <td>
                <textarea class="form-control" id="body" name="body" rows="10">{{post.body}}</textarea>
            </td>
            <td>
                <select class="form-select" name="category_id" id="category_id">
                    {%for category in category_list%}
                    <option value="{{ category.id }}" {% if selected_category==category.id %}selected{% endif %}>
                        {{ category.name }}
                    </option>
                    {% endfor %}
                </select>
            </td>
        </tr>
    </table>
    <input type="submit" value="編集" class="btn btn-primary">
</form>
<a href="{{ url_for('top') }}" role="button" class="btn btn-secondary">一覧に戻る</a>
{% endblock %}