{% extends "base.html" %}
{% block content %}
<h1>TOPページ</h1>
<a href="{{url_for('regist')}}" role="button" class="btn btn-success">新規登録</a>
<a href="{{url_for('view_category')}}" role="button" class="btn btn-secondary">カテゴリを見る</a>
<a href="{{url_for('logout')}}" role="button" class="btn btn-secondary">ログアウト</a>
<!-- 検索フォーム -->
<form method="GET" action="{{ url_for('top') }}" class="row g-3 my-3">
    <div class="col-md-4">
        <label for="keyword" class="form-label">キーワード</label>

        <input type="text" class="form-control" id="keyword" name="keyword" value="{{ keyword }}"
            placeholder="タイトル・本文を検索">
    </div>

    <div class="col-md-3">
        <label for="category_id" class="form-label">カテゴリ</label>

        <select class="form-select" id="category_id" name="category_id">
            <option value="">すべてのカテゴリ</option>

            {% for category in category_list %}
            <option value="{{ category.id }}" {% if selected_category_id==category.id %} selected {% endif %}>
                {{ category.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-3">
        <label for="category_id" class="form-label">並び替え</label>
        <select class="form-select" name="sort_id" id="sort_id">
            {%for priority in sort_priority%}
            <option value="{{loop.index0}}" {% if select_sort_id==loop.index0 %} selected {%endif%}>
                {{priority}}
            </option>
            {%endfor%}
        </select>
    </div>
    <div class="col-md-2 d-flex align-items-end gap-2">
        <button type="submit" class="btn btn-primary">
            検索
        </button>

        <a href="{{ url_for('top') }}" class="btn btn-secondary">
            クリア
        </a>
    </div>
</form>
{% if memo_list == [] %}
<p>条件を満たすメモはありません。</p>
{% else %}
<table class="table table-striped-columns">
    <tr>
        <th>タイトル</th>
        <th>メモ</th>
        <th>作成日</th>
        <th>更新日</th>
        <th>カテゴリ</th>
        <th colspan="2">操作</th>

    </tr>
    {% for memo in memo_list %}
    <tr>
        <td>{{memo.title}}</td>
        <td>{{ memo.body }}</td>
        <td>{{memo.created_at[:19]}}</td>
        <td>{{memo.updated_at[:19]}}</td>
        <td>
            {% if memo.category_name %}
            {{ memo.category_name }}
            {% else %}
            未分類
            {% endif %}
        </td>
        <td>
            <a href="/{{ memo.id }}/edit" role="button" class="btn btn-primary">編集</a>

        <td>
            <a href="/{{ memo.id }}/delete" role="button" class="btn btn-danger">削除</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}