{% extends "base.html" %}
{% block content %}
<h1>メモアプリ</h1>
<a href="/regist" role="button" class="btn btn-success">新規登録</a>

<a href="/logout" role="button" class="btn btn-secondary">ログアウト</a>
{% if memo_list == [] %}
<p>メモは登録されていません。</p>
{% else %}
<table class="table table-striped-columns">
    <tr>
        <th>タイトル</th>
        <th>メモ</th>
        <th>作成日</th>
        <th>更新日</th>
        <th colspan="2">操作</th>

    </tr>
    {% for memo in memo_list %}
    <tr>
        <td>{{memo.title}}</td>
        <td>{{ memo.body }}</td>
        <td>{{memo.created_at.strftime('%Y-%m-%d %H:%M:%S')}}</td>
        <td>{{memo.updated_at.strftime('%Y-%m-%d %H:%M:%S')}}</td>
        <td>
            <a href="/{{ memo.id }}/edit" role="button" class="btn btn-primary">編集</a>

        <td>
            <a href="/{{ memo.id }}/delete" role="button" class="btn btn-danger">削除</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}