{% extends "base.html" %}
{% block content %}
<h1>ログイン画面</h1>
<!--エラーメッセージ部分-->
<p style="color: red">{{ error_message }}</p>

<!-- ログインフォーム-->
<form method="POST">
    <table class="table table-striped-columns">
        <tr>
            <th>ユーザーID</th>
            <th>パスワード</th>
        </tr>
        <tr>
            <td>
                <input type="text" class="form-control" name="userid" value="{{ userid }}">
            </td>
            <td>
                <input type="password" class="form-control" name="password">
            </td>
        </tr>
    </table>
    <input type="submit" value="ログイン" class="btn btn-primary">
</form>
<a href="/signup" class="btn btn-success">新規ユーザー登録</a>
{% endblock %}